.App {
  text-align: center;
  background-color: white;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.AdditionText {
  color: antiquewhite;
  text-decoration: inherit;
  font-size: 18px;
}

.bton {
  border-radius: 0!important;
  fill: gray;
  border-color: white!important;
}

.bton:hover{
  background-color:#fff!important;
  fill: green;
}

.link {
  color: black;
  text-decoration: inherit;
}
.app-header {

}
.row {
  display: flex;
  justify-content: space-between;
}
.row.center {
  align-items: center;
}
.col-1 {
  flex: 1;
}
.col-2 {
  flex: 2;
}
.navbar-menu {
  font-size: 21px;
}
.App-link {
  color: #61dafb;
}

.StrT {
  text-align: left;
}
.StrL {
  color: #ffffff;
  background-color: black;
  text-align: center;
  padding: 1rem;
}
.CItem {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}


.btn-add {
  height: 50px;
  padding: 15px;
  font-weight: 700;
  font-size: 2rem;
  text-decoration: none;
  text-align: center;
  transition: all .5s ease;
}

.btn--doar {
  color: #fff;
  padding-right: 0;
  background-color: #c0392b;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 0 100%);

}

.btn--doar:hover {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 100%);
}
.btn--doar:after {
  content: "NEW";
  color: #e74c3c;
  display: inline-block;
  position: relative;
  right: -55px;
  transition: all 0.2s ease;
}

.btn--doar:hover:after {
  margin: -5px 15px;
  right: 0px;
}



h2 {
  text-align: justify;
}
.footer {
  ;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
